header {
    display: flex;
    min-height: 3rem;
    flex-shrink: 1;
    background-color: var(--mainColor);
    color: var(--highlightColor);
    fill: var(--highlightColor);

    a, a:hover, a:visited {
        color: unset;
        text-decoration: none;
    }

    nav {
        display: flex;
        flex-grow: 1;
    }

    .header-item {
        padding: 0 .5rem;
        font-size: 1.2rem;
        font-weight: 700;
        display: flex;
        height: 100%;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        flex-shrink: 1;
        user-select: none;

        &:hover {
            background-color: var(--darkMainColor);
        }

        &.active {
            span {
                border-bottom: var(--contrastColor) solid 2px;
            }
        }
    }

    button {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }

    svg {
        width: 2rem;
        height: 2rem;
    }
}
